@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Space+Mono");

*,
*::before,
*::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --background-color: #fff7ed;
  --blue-highlight: #bfdbfe;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  font-family: var(--font-space-mono), 'Courier New';
}

body {
  background-color: var(--background-color);
}

h1, h2 {
  padding: 8px 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
}

h1 {
  font-size: x-large;
}

h2{
  font-size: large;
}

h3{
  font-weight: 700;
}

hr {
  margin: 10px 0px;
  border: 2px solid var(--blue-highlight);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
