@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Space+Mono");

*,
*::before,
*::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  --light-orange: #fff7ed;
  --light-blue: #bfdbfe;
}

body {
  background-color: var(--light-orange);
  font-family: var(--font-space-mono), 'Courier New';
  color: #0000;
}

h1, h2 {
  padding: 8px 0;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
}

h1 {
  font-size: x-large;
}

h2{
  font-size: large;
  padding-bottom: 12px;
}

h3{
  font-weight: 700;
}

hr {
  margin: 15px 0px;
  border: 2px solid var(--light-blue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
